
body {
  text-align: center;
  background: #F9FAFB;
  font-family: new-hero, "New Hero", sans-serif;
  font-style: normal;
  line-height: normal;
  color: #191B1E;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1  {
  font-size: 26px;
  font-weight: 800;
  margin: 0;
}

h2 {
  color: #777F89;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}

p {
  color: #777F89;
  font-size: 16px;
  text-align: left;
  margin: 0;
  width: 100%;
}

p.caption {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

/* header */

header {
  gap: 32px;
}

header > .copy-container {max-width: 620px;}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon-container {
  width: 128px;
  height: 128px;
  background-image: url(../assets/logo/icon-background.png);
  background-size: 256px;
  background-position: top center;
  border-radius: 34px;
  position: relative;
  box-shadow: 
    0px 6px 8px -6px rgba(24, 39, 75, 0.12), 
    0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  transition: 
    transform .3s ease-out,
    background-position .6s ease-out,
    box-shadow .3s ease-out;
}

.icon-container:hover {
  transform: scale(1.04);
  background-position: bottom center;
  box-shadow: 
    0px 8px 22px -6px rgba(24, 39, 75, 0.12), 
    0px 14px 64px -4px rgba(24, 39, 75, 0.12);
}

.icon-container > .logo {
  width: 128px;
  height: 128px;
  background-image: url(../assets/logo/icon-logo.png);
  background-size: 128px;
  background-position: top center;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform .8s ease-out;
}

.icon-container:hover > .logo {
  transform: 
   rotate(60deg)
   scale(1.05);
}


/* logo experiments end here */

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: #191B1E;
  color: white;
}

/* sections */

header, section, footer {
  display: flex;
  padding: 64px 32px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  z-index: 20;
}

section {gap: 16px;}

.copy-container {
  display: flex;
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.features-container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  align-items: flex-start;
  gap: 64px;
  padding: 0;
}

@media (max-width: 840px) {
  .features-container {
    flex-direction: column;
  }
}

.features-container > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.features-container > li > .icon {
  width: 56px;
  height: 56px;
}

.list-container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 64px;
  flex-wrap: wrap;
  padding: 0;
}

.list-container > li {
  display: flex;
  width: 100%;
  min-width: 176px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.list-container > li > .icon {
  width: 32px;
  height: 32px;
}

.list-container > li > p {
  text-align: center;
  color: #191B1E;
}

/* footer */

.rainbow {
  width: 100%;
  height: 240px;
  position: fixed;
  bottom: 0;
  background-image: url(../assets/footer-rainbow.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: .6;
  pointer-events: none;
}

footer > .footer-container {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;
  border-radius: 56px;
  background: #191B1E;
  color: #E7EBF1;
  font-size: 12px;
}

footer > .footer-container > .icon {
  width: 20px;
  height: 20px;
}

/* images and icons */

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon.plug {background-image: url(../assets/icons/plug.svg);}
.icon.tag--group {background-image: url(../assets/icons/tag--group.svg);}
.icon.locked {background-image: url(../assets/icons/locked.svg);}
.icon.notification {background-image: url(../assets/icons/notification.svg);}
.icon.user--follow {background-image: url(../assets/icons/user--follow.svg);}
.icon.cursor--alt {background-image: url(../assets/icons/cursor--alt.svg);}
.icon.chart--line {background-image: url(../assets/icons/chart--line.svg);}
.icon.add {background-image: url(../assets/icons/add.svg);}
.icon.rule {background-image: url(../assets/icons/rule.svg);}
.icon.wifi--off {background-image: url(../assets/icons/wifi--off.svg);}
.icon.idea {background-image: url(../assets/icons/idea.svg);}
.icon.footer {background-image: url(../assets/logo-sm.svg);}

img {
  max-width: 420px;
  width: 100%;
}


/* card stack */

.stack {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.card {
  width: 144px;
  height: 144px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  box-shadow: 
    0px 6px 8px -6px rgba(24, 39, 75, 0.12), 
    0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  transition: 
    transform .3s ease-out,
    box-shadow .3s ease-out;
  margin-bottom: 48px;
}

.card:first-child {
  transform: 
    translate(128px, 2px)
    rotate(-6deg);
  z-index: 10;
}

.card:nth-child(2) {
  transform: 
    translate(0px, 0px)
    rotate(0deg);
  z-index: 20;
}

.card:last-child {
  transform: 
    translate(-128px, 2px) 
    rotate(6deg);
  z-index: 30;
}

section:hover > .stack > .card {
  box-shadow: 
    0px 8px 22px -6px rgba(24, 39, 75, 0.12), 
    0px 14px 64px -4px rgba(24, 39, 75, 0.12);
}

section:hover > .stack > .card:first-child {
  transform: 
    translate(32px, 0px) 
    rotate(-12deg);
} 

section:hover > .stack > .card:nth-child(2) {
  transform: 
    translate(0px, -16px) 
    rotate(0deg);
} 

section:hover > .stack > .card:last-child {
  transform: 
    translate(-32px, 0px) 
    rotate(12deg);
} 

.card.salesforce {background-image: url(../assets/features/card-salesforce.png);}
.card.notion {background-image: url(../assets/features/card-notion.png);}
.card.csv {background-image: url(../assets/features/card-csv.png);}

.card.photo {
  background-image: url(../assets/features/card-photo.png);
  width: 192px;
  height: 152.25px;
}
.card.text {
  background-image: url(../assets/features/card-text.png);
  width: 192px;
  height: 116.5px;
}
.card.audio {
  background-image: url(../assets/features/card-audio.png);
  width: 192px;
  height: 90px;
}